.btn-focus-none:focus {
  outline: none !important;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

.btn-wifi {
  padding: 15px 25px;
  font-size: 27px;
  border-radius: 10px;
}

.btn-login {
  padding: 27px 17px;
  font-size: 30px;
  border-radius: 10px;
}

.back {
  font-size: 45px;
  border-radius: 10px;
}

.forward {
  font-size: 65px;
  border-radius: 10px;
}

.btn-reset {
  padding: 13px 22px;
  font-size: 30px;
  border-radius: 10px;
}

.btn-material {
  padding: 16px 11px;
  font-size: 17px;
  border-radius: 10px;
}

.btn-delete {
  padding: 13px 22px;
  font-size: 25px;
  border-radius: 10px;
}

.btn-dst {
  padding: 16px 6px;
  font-size: 15px;
  border-radius: 10px;
}

.btn-process {
  padding: 13px 13px;
  font-size: 18px;
  border-radius: 10px;
}

.btn-Shift {
  padding: 22px 22px;
  font-size: 20px;
  border-radius: 10px;
}

.btn-src {
  padding: 16px 11px;
  font-size: 17px;
  border-radius: 10px;
}

.btncolor {
  background: #0a0a0a;
}
