
$white:white!important;
$black:black!important;
$nav-blue:#000410!important;
$dark-grey: #404040!important;
$yellow: #FAD02E!important;
$red:#D63031!important;
$lite-grey:#616C6F!important;
$green-color: #00923f!important;
$mint-leaf: #00b894 !important;
$wizard_grey: #535c68!important;
$sidebar:#000410!important;
$body_color: #ebeff3!important;
$lite_blue: #98c5f5 !important;


.bg-theme{
  background: #000410;
}


