.one2-point{
  font-size: 1.2em;
}

.one4-point{
  font-size: 1.8em;
}

.one3-point{
  font-size: 1.6em;
}

.one1-point{
  font-size: 1.1em;
}

.one-point{
    font-size: 1.0em;
}

.point-9{
 font-size: 0.9em;
}
 
 .font-light-bold{
  font-weight: 550;
 }

 .autoscroll {
  max-height: 430px;
  overflow-y: auto;
}

